* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.container {
    padding: 40px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 2.5px;
}

.section-one__contact {
    background-color: #e53535;
    color: rgb(255, 255, 255);
    padding-left: 10PX;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    border-radius: 4PX;
    text-decoration: none;
    display: inline-block;
}
.section-one__name{
    font-size: 50px;
}
.section-one__role{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 4px;
}
.section-five__title a{
    color: rgb(55, 177, 218);
    text-decoration: none;
}
.section-three li,.section-four li{
    list-style: none;
}
.section-three{
    background-color: #6462fd;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 7px;
    height: 200PX;
    vertical-align: top;
}
.section-four{
    background-color: #fe7517;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 7px;
    height: 200PX;
    vertical-align: top;
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__text,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__text{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
    color: black;
    border: none;
    border-radius: 6px;
}